.about_img {
    width: 100%;
    height: 400px;
    z-index: 1;
}
.about_block {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.about_text-block {
width: 890px;
min-height: 300px;
margin-top: -200px;
z-index: 999;
background: #FFFFFF;
border: 1px solid #EAEAEA;
box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
border-radius: 5px;
text-align: center;
padding-bottom: 20px;
}

.about_text-block h1 {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
}
.about_text-block p {
    display: inline-block;
    width: 600px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
overflow: hidden;
/* or 24px */
margin-top: 20px;

color: #363636;
}
.about_text-block p:first-child {
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.about_text-block p:first-child img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.about_block a img {
    width: 20px;
    height: 20px;
    rotate: 180deg;
    margin-right: 5px;
}
.about_block a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    text-decoration: underline;
    /* identical to box height */
    
    color: #363636;
    text-align: center;
    cursor: pointer;
    margin-top: 50px;
    padding-bottom: 20px;

    display: flex;
    align-items: center;
}